{% extends "basic.html" %}
  {% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin</h1>
            <span class="subheading">Wwelcome Admin</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <a href= "/new/0" ><button class="btn btn-primary">Add New Post</button></a></td>
        <a href= "/logout" ><button class="btn btn-primary">LogOut</button></a></td>
        
        <br>
        <br>
        <div class="container">          
          <h2>Your Posts</h2>        
          <table class="table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Title</th>
                <th>Subheading</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            {% for p in posts%}
            <tbody>
               
              <tr>
                <td>{{p.SNo}}</td>
                <td>{{p.title}}</td>
                <td>{{p.subhead}}</td>
                <td><a href="/edit/{{p.SNo}}"><button class="btn btn-primary" >edit</button></a></td>
                <td><a href="/delete/{{p.SNo}}"><button class="btn btn-primary">delete</button></a></td>
              </tr>
           
            </tbody>
            {% endfor %}
          </table>
        </div>
        
       
        

        <hr>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2019</p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

 
