{% extends "basic.html" %}
  {% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static',filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
{% for p in po %}
  <!-- Main Content -->

        <div class="post-preview">
          <a href="/post.html/{{p.slug}}">
            <h2 class="post-title">
              {{ p.title }}
              

            </h2>
            <h3 class="post-subtitle">
              {{p.subhead}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Admin</a>
            {{p.date}}</p>
        </div>
        {%endfor%}
        <hr>
        <hr>
        <!-- Pager -->
       
      </div>
    </div>
  </div>

  <hr>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://twitter.com/login">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.github.com/">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; This is my Blog</p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock %}

 
